body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #000000;
	margin-top: 20px;
}
.license-box {
	border-top-width: thin;
	border-top-style: dotted;
	border-top-color: #919191;
}

.license {
	font-size: 10px;
}
a:link {
	color: #333333;
}
a:visited {
	color: #333333;
}
a:hover {
	color: #000000;
	text-decoration: none;
}


.txtContentTitle {
	font-size: 16px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.txtContentTitleNormal{
	font-size: 13px;
	color: #000000;
	font-weight: bold;
}

.txtFooter {
	color: #993300;
}

.inputButton {
	background-image: url("../images/button_bg.gif");
	background-repeat: repeat-x;
}

select,input,textarea {
	border: 1px solid #999999;
	background-repeat: repeat-x;
}

.radioButton {
	border: 0px solid #999999;
	background-repeat: repeat-x;
}

.txtTitle {
	text-transform: uppercase;
	color: #333333;
}

.txtDateTime {
	color: #888888;
	font-style: italic;
}

.txtMenu {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.txtBlockTitle {
	text-transform: capitalize;
	color: #000000;
	font-weight: bold;
}

.tblBlock {
	background-color: #EBEBEB;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

.tblBlockBackground {
	background-color: #FFFFFF;
}

.tblBlockTitleBackground{
	background-color: #EBEBEB;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.tblRowDash {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

.tblRowSolid {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.tblRowSolidTopDown {
	background-image: url("../images/bg.gif");
    background-repeat: repeat-x;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.tblWhiteRow {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #FFFFFF;
}

.tblMenu {
	border: 1px solid #5976B2;
}

.tblMenuRow {
	border-top: 0px solid #5976B2;
	border-right: 0px solid #5976B2;
	border-bottom: 1px solid #5976B2;
	border-left: 0px solid #5976B2;
}

.tblForumTable {
    	background-color: #AAAAAA;
}

.tblForumTop {
	background-color: #555555;
    	color: #FFFFFF;
}

.tblForumTop2 {
	background-color:  #888888;
     	color: #FFFFFF;
}

.tblForumBody {
	background-color: #FFFFFF;
    	color: #000000;
}

.tblForumLastPost {
	font-size: 10px;
}

.tblComment {
	background-color: #DDDDDD; 
}

.tblCommentLinkText {
	color: #FFFFFF;
}

.tblCommentButtom {
	border-bottom: 1px solid #999999;
}

.dataTable {
	padding: 3px;
}

.dataColumnHeader {
	background-image: url("../images/bg.gif");
    background-repeat: repeat-x;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-weight:bold;
}

.dataColumn {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

.noneStyle {
border-bottom: 1px solid  #FFFFFF; 
}


